<app-logo></app-logo>

<div class="bgv">
  <div class="table-block">
    <h4 class="title">Transactions List</h4>
    <app-filter (inputChange)="filterData($event)"></app-filter>
    <table borderless="true" style="min-width: 610px;">
      <tbody>
        <tr *ngFor="let record of transactionList" class="tr-class">
          <app-transaction-item>
            <td data-test-hook='transactionColour' [ngStyle]="{'height': '30px', 'border-left': record.categoryCode}">
            </td>
            <td class="first-cell" data-test-hook='transactionDate'>{{record.displayDate}}</td>
            <td class="second-cell" data-test-hook='transactionMerchantName'><h6>{{record.merchant.name}}</h6>
              <br>{{record.transaction.creditDebitIndicator}}</td>
            <td data-test-hook='transactionAmount' [ngClass]="[record.transaction.amountCurrency.amount > 0 ? 'positive' : 'negative']"><span>&#8364;</span> {{record.transaction.amountCurrency.amount}}</td>
          </app-transaction-item>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <h4 class="title">Make Transfer</h4>
    <form [formGroup]="myFormGroup" #formRef="ngForm">
     <b>From Account</b>  <br> <input type="text" formControlName="fromAccount" class="input-class"> <br>
     <b>To Account</b>  <br> <input type="text" placeholder="type an account name" formControlName="name" [ngClass]="{'red-border-class': myFormGroup.get('name').touched && myFormGroup.get('name').errors?.required}" class="input-class"> <br *ngIf="myFormGroup.get('name').touched 
      && myFormGroup.get('name').errors?.required">
      <span *ngIf="myFormGroup.get('name').touched 
      && myFormGroup.get('name').errors?.required">
        This field is required
      </span>
      <br>
     <b>Amount</b>  <br><span class="input-symbol-euro"><input type="text" placeholder="specify the amount" formControlName="amount"
      class="input-class" [ngClass]="{'red-border-class': ((myFormGroup.get('amount').touched 
      && myFormGroup.get('amount').errors?.required) || (myFormGroup.get('amount').touched 
      && myFormGroup.get('amount').errors?.pattern) || (myFormGroup.get('amount').dirty
      && myFormGroup.get('amount').errors?.amountInvalide) || (myFormGroup.get('amount').dirty
      && myFormGroup.get('amount').errors?.amountNegative))}"></span><br />
      <span *ngIf="myFormGroup.get('amount').touched 
     && myFormGroup.get('amount').errors?.required">
        Amount value is Required
      </span>
      <span *ngIf="myFormGroup.get('amount').touched 
      && myFormGroup.get('amount').errors?.pattern">
        Please enter only numbers or decimals
      </span>
      <span *ngIf="myFormGroup.get('amount').dirty
     && myFormGroup.get('amount').errors?.amountInvalide">
        Transaction worth more then 500 is only allowed
      </span>
      <span *ngIf="myFormGroup.get('amount').dirty
     && myFormGroup.get('amount').errors?.amountNegative">
        We don't accept negative transactions
      </span>
    </form>
    <app-submit-button (submitForm)="open(mymodal)"></app-submit-button>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <span class="modal-title" id="modal-basic-title"><b>Review</b> Transfer</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Are you ready to send out this transfer? <br> <b> It will be send to account:</b><br>
    {{myFormGroup.get('name').value}} <br><b>with the amount of </b> <br> € {{myFormGroup.get('amount').value}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-closed" (click)="modal.close('closed')">Close</button>
    <button type="button" class="btn btn-transfer" (click)="modal.close('transfer')">Send Transfer</button>
  </div>
</ng-template>

<app-footer></app-footer>